#searchContainer {
  padding: 33px 36px 0px 36px;
  position: relative;
}

#search {
  width: 50%;
  padding: 9px 25px 9px 40px;
  border-radius: 16.5px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

#searchIcon {
  opacity: 0.5;
  position: relative;
  top: 11px;
  left: 37px;
}

#search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #8a8e9d;
}

#searchClearButton {
  font-size: 2px;
  position: relative;
  right: 45px;
  top: 8px;
  border: 0;
  background: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
  align-items: center;
}
